torch==1.5.0
numba==0.48.0
numpy==1.19.2
requests==2.25.1
fastdtw==0.3.4
jamo==0.4.1
librosa==0.7.2
pandas==1.1.5
pydub==0.24.1
pyjyutping==1.0.0
pykakasi==2.0.6
pypinyin==0.40.0
pytorch_msssim==0.2.1
scipy==1.5.4
scikit-image==0.17.2
tensorboardX==2.1
tqdm==4.54.1
resemblyzer==0.1.1.dev0
pytorch-ignite==0.4.4
webrtcvad==2.0.10
g2p_en==2.1.0
matplotlib==3.3.4
PyYAML==5.4.1
